* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 74%;
  background-position: bottom 0px left 0px;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.testimonial-image {
  background-image: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 93.8%;
  margin: 1.45rem auto 2.1rem;
}

.testimonial-image__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.85rem 1.7rem 1.55rem;
}

.testimonial-image__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16rem;
  height: 16rem;
  border-radius: .3rem;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 1.5rem 2rem -1rem rgba(34, 34, 119, 0.18), 0 2.8rem 2.8rem -1.6rem rgba(34, 34, 119, 0.18);
          box-shadow: 0 1.5rem 2rem -1rem rgba(34, 34, 119, 0.18), 0 2.8rem 2.8rem -1.6rem rgba(34, 34, 119, 0.18);
}

.switch {
  position: relative;
  top: 1.22rem;
  width: 5rem;
  list-style: none;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 119, 0.18);
          box-shadow: 0 1rem 2rem rgba(34, 34, 119, 0.18);
}

.switch__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 2.48rem;
  cursor: pointer;
  background-color: white;
}

.switch__buttons:hover {
  background: linear-gradient(315deg, #370080, #7b64cd, #beb4e6, #d0d0fa);
}

.switch__buttons--previous {
  border: none;
  border-radius: 50% 0 0 50%;
}

.switch__buttons--next {
  border: none;
  border-radius: 0 50% 50% 0;
}

.switch__icons {
  width: 24%;
}

.testimonial-text {
  background-image: url("../images/pattern-quotes.svg");
  background-size: 15.7%;
  background-position-x: center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-font-kerning: none;
          font-kerning: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

.testimonial-text__quote {
  width: 83%;
  color: #202046;
  font-size: 1.13rem;
  word-spacing: -0.01rem;
  line-height: 1.5625rem;
  font-weight: 300;
  margin-bottom: 1.15rem;
}

.testimonial-text__attribution {
  color: #202046;
  font-size: 0.935rem;
  word-spacing: -0.01rem;
}

.testimonial-text__job-title {
  color: #babacf;
  font-weight: 400;
  display: block;
  margin-top: 0.08rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 750px) {
  #root {
    background-size: 40%;
    background-position: bottom 0px left 0px;
  }
  .testimonial-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonial-image {
    width: 23.65rem;
    margin: 0;
    padding: 0;
  }
  .switch {
    top: 1rem;
    right: 9.5rem;
    width: 7rem;
    list-style: none;
    background-color: white;
    -webkit-box-shadow: 0 0.2rem 0.3rem rgba(32, 32, 70, 0.4);
            box-shadow: 0 0.2rem 0.3rem rgba(32, 32, 70, 0.4);
  }
  .switch__buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 2rem;
  }
  .switch__icons {
    width: 30%;
  }
  .testimonial-text {
    width: 25%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .testimonial-text__quote {
    width: 150%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.1rem;
  }
  .testimonial-text__job-title {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .testimonial-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.2rem;
  }
  .testimonial-image {
    width: 43.65rem;
    margin: 0;
    padding: 0;
  }
  .testimonial-image__div {
    padding: 4.3rem 4.7rem 3.7rem 3.3rem;
  }
  .testimonial-image__image {
    width: 33.7rem;
    height: 33.75rem;
  }
  .switch {
    top: 1.7rem;
    right: 9.56rem;
    width: 6.8rem;
    -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 119, 0.18);
            box-shadow: 0 1rem 2rem rgba(34, 34, 119, 0.18);
  }
  .switch__buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 3.44rem;
    cursor: pointer;
    background-color: white;
  }
  .switch__icons {
    width: 25%;
  }
  .testimonial-text {
    width: 36.2%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 5.72rem;
    background-size: 23%;
    padding-top: 4.1rem;
    background-position-x: 46.5%;
  }
  .testimonial-text__quote {
    width: 150%;
    font-size: 1.98rem;
    font-weight: 300;
    line-height: 2.751rem;
    letter-spacing: 0.01rem;
    margin-bottom: 2.38rem;
  }
  .testimonial-text__attribution {
    font-size: 1.238rem;
    letter-spacing: -0.005rem;
    word-spacing: 0.018rem;
  }
  .testimonial-text__job-title {
    display: inline;
    margin-left: 0.255rem;
  }
}
/*# sourceMappingURL=App.css.map */