$dark-blue: hsl(240, 38%, 20%)
$dark-blue-shadow: hsla(240, 55%, 30%, 0.18)
$grayish-blue: hsl(240, 18%, 77%)
$tablet: 700px
$small-desktop: 900px
$desktop: 1200px

@mixin switch-style($top, $width, $icon) 
    position: relative
    top: $top
    width: $width
    list-style: none
    background-color: white
    border-radius: 50%
    box-shadow: 0 1rem 2rem $dark-blue-shadow
    
    &__buttons
        display: inline-flex
        justify-content: center
        align-items: center
        width: 50%
        height: $width / 2
        cursor: pointer
        background-color: white 

        &:hover
            background: linear-gradient(315deg, rgb(55, 0, 128), rgb(123, 100, 205), rgb(190, 180, 230), rgb(208, 208, 250))

        &--previous
            border: none
            border-radius: 50% 0 0 50%
            
        &--next
            border: none
            border-radius: 0 50% 50% 0
    
    &__icons
        width: $icon

* 
    box-sizing: border-box
    font-family: Inter, sans-serif
    padding: 0
    margin: 0

#root 
    min-height: 100vh
    display: flex
    background-image: url('../images/pattern-curve.svg')
    background-repeat: no-repeat
    background-size: 74%
    background-position: bottom 0px left 0px

.testimonial-container
    display: flex
    flex-flow: column
    align-items: center
    width: 100%

.testimonial-image
    background-image: url('../images/pattern-bg.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    width: 93.8%
    margin: 1.45rem auto 2.1rem
    
    &__div
        display: flex
        flex-flow: column
        align-items: center
        justify-content: center
        padding: 1.85rem 1.7rem 1.55rem

    &__image
        display: flex
        align-items: flex-end
        justify-content: center
        width: 16rem
        height: 16rem
        border-radius: .3rem   
        background-repeat: no-repeat
        background-size: cover
        box-shadow: 0 1.5rem 2rem -1rem $dark-blue-shadow, 0 2.8rem 2.8rem -1.6rem $dark-blue-shadow
        transition: background-image 0.4s ease-in
    
.switch 
    @include switch-style(1.22rem, 5rem, 24%)

.testimonial-text
    background-image: url('../images/pattern-quotes.svg')
    background-size: 15.7%
    background-position-x: center
    background-repeat: no-repeat
    text-align: center
    font-kerning: none
    display: flex
    flex-flow: column
    align-items: center
    padding-top: 1.5rem

    &__quote
        width: 83%
        color: $dark-blue
        font-size: 1.13rem
        word-spacing: -0.01rem
        line-height: 1.5625rem
        font-weight: 300
        margin-bottom: 1.15rem

    &__attribution
        color: $dark-blue
        font-size: 0.935rem
        word-spacing: -0.01rem

    &__job-title
        color: $grayish-blue
        font-weight: 400
        display: block
        margin-top: 0.08rem

.attribution 
    font-size: 11px 
    text-align: center
 
    & a  
        color: hsl(228, 45%, 44%)

@media screen and (min-width: $tablet)
    .testimonial-container
        justify-content: space-evenly

    .testimonial-image
        width: 32rem
        margin: 0

        &__div 
            padding: 2.5rem

        &__image
            width: 22rem
            height: 22rem

    .testimonial-text
        padding-top: 4.5rem

        &__quote
            width: 70%
            font-size: 1.2rem
            font-weight: 300
            line-height: 1.8rem

@media screen and (min-width: $small-desktop) 
    #root 
        background-size: 40%

    .testimonial-container
        flex-flow: row-reverse

    .switch
        @include switch-style(1rem, 5rem, 30%)
        right: 6.5rem

    .testimonial-text
        width: 25%
        text-align: left
        align-items: start
        background-size: 33%
        padding: 2.7rem 0 0 3rem
        
        &__quote
            width: 200%
            font-size: 1.5rem
            line-height: 2.1rem

        &__job-title
            display: inline-block
            margin-left: 0.255rem

@media screen and (min-width: $desktop) 
    #root
        background-size: 42%

    .testimonial-container
        padding: 2.85rem 0 5.4rem 
        
    .testimonial-image
        width: 43.65rem
        
        &__div
            padding: 4.2rem 4.75rem 3.8rem 3.25rem
            
        &__image
            width: 33.7rem
            height: 33.75rem

    .switch
        @include switch-style(1.75rem, 6.96rem, 25%)
        right: 9.56rem

    .testimonial-text
        width: 36.2%
        background-size: 23%
        background-position-x: 46.5%
        padding: 4.1rem 0 0 5.72rem
        margin-top: 0.9rem

        &__quote
            width: 150%
            font-size: 1.98rem
            line-height: 2.751rem
            letter-spacing: 0.01rem
            margin-bottom: 2.365rem

        &__attribution
            font-size: 1.238rem
            letter-spacing: -0.005rem
            word-spacing: 0.018rem